name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Code Test
      id: code-test
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Code Test
        setup-command: pip3 install pytest tabulate
        command: pytest test_main.py
        timeout: 10
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        CODE-TEST_RESULTS: "${{steps.code-test.outputs.result}}"
      with:
        runners: code-test
